{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Chapter : Countroller</h1>
    
    {% set message = "\nThis is any custom message .\nThis is second line" %}
    
    {% for i in 0..10 %}
        * {{ i }}
    {% endfor %}

    {% if debug is defined and debug == true %}
        {{ dump(html) }}
	{% endif %}
	
	{{ dump(app.locale) }}
	
	{{ message|upper|nl2br }}
	
	
	<twig:Flash type="success"></twig:Flash>
	
	{#% for successMessage in app.flashes['success'] %}
		<p>{{ dump(successMessage) }} <br/>
	{% endfor %#}
	
	<br/>
	
	<a href="{{ path('app_product_detail') }}" class="txt-lg-black">Product Detailt</a>
</div>
{% endblock %}
