{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Chapter4</h1>
    
    <twig:Flash type="success" />
    
    {{ message|default('') }}
    
    <a href="{{ path('app_blog_about_us') }}">About Us</a> |
    <a href="{{ path('app_blog_add') }}">Add Blog</a>
    
    {% if blogs is defined and blogs is not empty %}
    	<div class="mt-5">
    		<table class="">
    			<thead>
    				<th>ID</th>
    				<th>slug</th>
    				<th>Name</th>
    			</thead>
    			<tbody>
        			{% for blog in blogs %}
        				<tr>
        					<td>{{ blog.id }}</td>
        					<td>{{ blog.slug }}</td>
        					<td>{{ blog.name }}</td>
        				</tr>
        			{% endfor %}
    			</tbody>
    		</table>
    	</div>
    {% endif %}
</div>
{% endblock %}
